* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    padding: 2rem 0;
    font-size: 1.5rem;
}
h1 {
    font-weight: 900;
    text-align: center;
}

.todos ul {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-size: 1.2rem;
}

.todos li {
    list-style: none;
    padding: 0.5rem;
    background-color: lightgrey;
    display: flex;
}

.todos li.done span.text {
    text-decoration: line-through;
}

.todos li span.text {
    flex-grow: 1;
}

.todos li span.cross-btn {
    display: inline-block;
    color: white;
    background-color: red;
    border-radius: 25%;
    font-weight: 900;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
}
